@import 'bootstrap/dist/css/bootstrap.min.css';

html {
	scrollbar-width: none;
}

body {
	font-size: 0.75em;
}

.btn,
.btn:hover {
	background: transparent;
	border: none;
}

img {
	width: 2em;
}

.container {
	height: 100vh;
	max-width: 750px;
}

#games .text-bg-warning {
	font-size: 0.5em;
	opacity: 0.8;
}

.period {
	border-bottom: 1px solid #343a40;
}

.A {
	color: #20c997 !important;
}
.J {
	color: #dc3545 !important;
}
.S {
	color: #0d6efd !important;
}
.V {
	color: #ffc107 !important;
}

.table-sm td {
	padding: 0;
}
